body{
    background-color: black;
}
.block_a1{
    width: 1440px;
    height: 650px;
    border: 1px solid  white;
    margin: 0 auto;
    background-color: white;
}
.img1{
    position: relative;
    top: 25px;left: 125px;
}
.block_a2{
    width: 240px;
    height: 30px;
    border: 1px solid #FFFFFF;  
    position: relative;
    /* top: 25px; */left: 415px;
    display: flex;
    justify-content: space-around;
}
.block_a3{
    width: 70px;
    height: 25px;
    border: 1px solid #FFFFFF;  
    position: relative;
    top: 1px;left: 0;
}
.block_a3 a{
    text-decoration: none;
    font-size: 20px;
}
.block_a3 a:hover{
    text-shadow: 0px 0px 10px blue, 0px 0px 30px blue;
}
.leftblock{
    width: 33px;
    height: 125px;
    border: 1px solid black;  
    position: relative;
    top: px;left: -2px;
    background-color: #39CDCC;
    border-radius: 0px 0px 10px;
}
.img2{
    position: relative;
    top: -365px;left: 600px;
}
.block_a1 h1{
    position: relative;
    left: 221px;top: -4px;
    font-size: 44px;
}
.block_a1 h2{
    position: relative;
    left: 221px;top: -4px;
}
.block_a1 button{
    position: relative;
    left: 221px;top: -516px;
    width: 147px;height: 50px;
    border: 1px solid white;
}
.block_a1 button:hover{
    background-color: gray;
    border: none;
}
button a{
    text-decoration: none;
    position: relative;
    left: 0px;top: -8px;
    font-weight: 770;
    letter-spacing: 1px;
}
button a:hover{
    color: white;
}
button img{
    height: 30px;
    width: 30px;
    position: relative;
    left: -1px;top: 0px;
}
.block_a1 button:nth-child(2){
    position: relative;
    left: 221px;top: -516px;
    width: 247px;height: 50px;
}


.block_b1{
    width: 1440px;
    height: 500px;
    border: 1px solid white;
    margin: 0 auto;
    background-color: white;
}
.block_b1 img{
    position: relative;
    top: 80px;left: 212px;
}
.block_b1 h1{
    position: relative;
    left: 730px;top: -300px;
    font-size: 44px;
}
.block_b1 h2{
    position: relative;
    left: 730px;top: -300px;
}
.block_b1 button{
    position: relative;
    left: 730px;top: -290px;
    width: 147px;height: 50px;
    border: 1px solid white;
}
.block_b1 button:hover{
    background-color: gray;
    border: none;
}
button a{
    text-decoration: none;
    position: relative;
    left: 0px;top: -8px;
    font-weight: 770;
    letter-spacing: 1px;
}
button a:hover{
    color: white;
}
.block_b1 button img{
    height: 30px;
    width: 30px;
    position: relative;
    left: -1px;top: 0px;
}
.block_b1 button:nth-child(2){
    position: relative;
    left: 221px;top: -516px;
    width: 247px;height: 50px;
}


.block_c1{
    width: 1440px;
    height: 480px;
    border: 1px solid white;
    margin: 0 auto;
    background-color: white;
}
.block_c1 h1{
    text-align: center;
    font-size: 44px;
}
.block_c2{
    width: 288px;
    height: 327px;
    border: 1px solid rgb(182, 179, 179);
    position: relative;color:rgb(65, 61, 61);
    left: 194px;top: 15px;
    background-color: white;
    border-top: 11px solid blue;
    box-shadow: 3px 3px 5px gray;
}
.block_c2 img{
    position: relative;
    left: 121px;top: 45px;
}
.block_c2 h2{
    position: relative;
    left: 60px;top: 50px;
    letter-spacing: -1px;
}
.block_c2 h3{
    position: relative;
    left: 34px;top: 68px;
    letter-spacing: px;
    font-size: 17px;
    line-height: 28px;
}

.block_c3{
    width: 288px;
    height: 327px;
    border: 1px solid rgb(182, 179, 179);
    position: relative;color:rgb(65, 61, 61);
    left: 574px;top: -323px;
    background-color: white;
    border-top: 11px solid #FD824D;
    box-shadow: 3px 3px 5px gray;
}
.block_c3 img{
    position: relative;
    left: 116px;top: 45px;
}
.block_c3 h2{
    position: relative;
    left: 60px;top: 50px;
    letter-spacing: -1px;
}
.block_c3 h3{
    position: relative;
    left: 34px;top: 68px;
    letter-spacing: px;
    font-size: 17px;
    line-height: 28px;
}

.block_c4{
    width: 288px;
    height: 327px;
    border: 1px solid blargb(182, 179, 179)ck;
    position: relative;color:rgb(65, 61, 61);
    left: 969px;top: -660px;
    background-color: white;
    border-top: 11px solid #32C5A1;
    box-shadow: 3px 3px 5px gray;
}
.block_c4 img{
    position: relative;
    left: 109px;top: 45px;
}
.block_c4 h2{
    position: relative;
    left: 60px;top: 50px;
    letter-spacing: -1px;
}
.block_c4 h3{
    position: relative;
    left: 34px;top: 68px;
    letter-spacing: px;
    font-size: 17px;
    line-height: 28px;
}




.block_d1{
    width: 1440px;
    height: 371px;
    border: 1px solid rgb(182, 179, 179);
    margin: 0 auto;
    background-color: #31C5A1;
}
.block_d1 h1{
    position: relative;
    top: 30px;left: 500px;
    font-size: 34px;
}
.block_d1 button{
    position: relative;
    left: 583px;top: 70px;
    width: 147px;height: 50px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
}
.block_d1 button:hover{
    background-color: rgb(8, 114, 88);
    border: none;
}
button a{
    text-decoration: none;
    position: relative;
    left: 0px;top: -8px;
    font-weight: 770;
    letter-spacing: 1px;
    color: #32C5A1;
}
button a:hover{
    color: white;
}
.block_d1 button img{
    height: 30px;
    width: 30px;
    position: relative;
    left: -1px;top: 0px;
}
.block_d1 button:nth-child(2){
    position: relative;
    left: 583px;top: px;
    width: 147px;height: 50px;
}


.block_e1{
    width: 1440px;
    height: 200px;
    border: 1px solid rgb(182, 179, 179);
    margin: 0 auto;
    background-color: white;
}
.block_e1 img{
    position: relative;
    left: 100px;top: 39px;
}
.block_e2{
    width: 170px;
    height: 130px;
    border: 1px solid white;
    background-color: white;
    position: relative;
    left: 410px;top: px;
}
.block_e2 a{
    text-decoration: none;
    position: relative;
    left: 15px;top: 10px;
    font-size: 16px;
    line-height: 29px;
    color: rgb(19, 17, 17);
}
.block_e2 a:hover{
    text-shadow: 0px 0px 10px blue,0px 0px 30px blue;
}
.block_e3{
    width: 170px;
    height: 130px;
    border: 1px solid white;
    background-color: white;
    position: relative;
    left: 720px;top: -133px;
}
.block_e3 a{
    text-decoration: none;
    position: relative;
    left: 15px;top: 10px;
    font-size: 16px;
    line-height: 29px;
    color: rgb(65, 61, 61);
}
.block_e3 a:hover{
    text-shadow: 0px 0px 10px blue,0px 0px 30px blue;
}
h3{
    position: relative;
    left: 1100px;top: -280px;
    color: rgb(56, 54, 54);
}
/* @media (max-width: 600px){
    body{
        background-color: rgb(214, 211, 211);
    }
    .block_a1{
        width: 500px;
        height: 50px;
        border: 1px solid  white;
        margin: 0 auto;
        background-color: white;
    }
} */